/* * {
  border: 1px #F5D800 solid;
} */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #1E2328;
  color: #FFFFFF;
  font-family: "Roboto";
}

main {
  max-width: 640px;
  margin: auto;
  background-color: #1E2328;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}
.image-row {
  margin-bottom: 20px;
  text-align: center;
}

.name-row {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Georgia";
  font-size: 24px;
  font-weight: 900;
}

.social-icons-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.avatar-image { 
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.certification {
  background-color: #3B3F46;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 1000px;
  padding: 5px;
  padding-right: 35px;
  box-shadow: 4px 4px 10px 0px #F5D800;
}

.certification:hover {
  background-color: #F5D800;
  color: #000000;
}

.link-text {
  text-align: center;
  flex-grow: 1;
}

.project {
  display: flex;
}

.icon-dot {
  margin-right: 10px;
}
